---
import { getCollection, getEntry } from 'astro:content';
import stylex from '@stylexjs/stylex';
import HeaderFooterLayout from '../layouts/header-footer-layout.astro';
import { Container, Row, Col } from '../components/grid';
import Heading from '../components/heading';
import Section from '../components/section';
import Stack from '../components/stack';
import { Card, CardHeader, CardFooter } from '../components/card';
import Aspect from '../components/aspect';
import Paragraph from '../components/paragraph';
import { Tag, TagLabel, TagIcon } from '../components/tag';
import Anchor from '../components/anchor';
import getFormattedDate from '../helpers/get-formatted-date';
import Tabs from '../components/tabs';
import Figure from '../components/figure';

import blogThumbnail from '../assets/blogs/blog-thumbnail.svg';
import CalendarIcon from '../assets/icons/calendar.svg';
import UserIcon from '../assets/icons/user.svg';

export const styles = stylex.create({
	thumbnail: {
		maxWidth: '100%',
		maxHeight: '100%',
	},
});

const posts = await getCollection('blog');
---

<HeaderFooterLayout
	title="What's New - v1.5.1 - Budget Warden"
	description="Explore the Budget Warden blog for expert tips, personal finance advice, and practical budgeting strategies. Stay informed with the latest articles to help you manage your money and take control of your financial future."
>
	<Section>
		<Container>
      <Row align="center">
        <Col span={10} break="lg">
          <Stack gap="lg">
            <Heading level="h1" size={40}>What's New</Heading>
            <Stack gap="lg">
              <Stack gap="sm">
                <Heading level="h2" size={30}>Version 1.5.1</Heading>
                <Paragraph fontSize={22}>Released: <time datetime="2025-09-21">21 September 2025</time></Paragraph>
              </Stack>
              <Row largeGutter={true}>
                <Col span={4} largeGutter={true} break="md">
                  <Stack gap="sm">
                      <div title="ios-google-auth">
                        <video autoplay loop muted playsinline loading="eager" style="max-width: 100%; border-radius: 40px; overflow: hidden;">
                          <source src="/videos/apple-google-auth.mp4" type="video/mp4" />
                          <p>
                            Your browser doesn't support HTML video. Here is a
                            <a href="/videos/apple-google-auth.mp4" download="budget-warden-v1.5.1-apple-google-auth.mp4">link to the video</a> instead.
                          </p>
                        </video>
                      </div>
                      <div title="android-google-auth" hidden>
                        <video autoplay loop muted playsinline loading="eager" style="max-width: 100%; border-radius: 40px; overflow: hidden;">
                          <source src="/videos/apple-google-auth.mp4" type="video/mp4" />
                          <p>
                            Your browser doesn't support HTML video. Here is a
                            <a href="/videos/apple-google-auth.mp4" download="budget-warden-v1.5.1-apple-google-auth.mp4">link to the video</a> instead.
                          </p>
                        </video>
                      </div>
                    <div style="display: flex; justify-content: center">
                      <Tabs
                        client:only
                        tabs={[
                          { label: "iOS", id: "ios-google-auth" },
                          { label: "Android", id: "android-google-auth" },
                        ]}
                      />
                    </div>
                  </Stack>
                </Col>
                <Col span={8} largeGutter={true} break="md"> 
                  <Stack gap="md">
                    <Heading level="h3" size={28}>Sign In with Apple and Google Accounts</Heading>
                    <Stack gap="sm">
                      <Paragraph fontSize={24}>We know it's annoying to create custom accounts for every application and service. That's why we implemented authentication with Google and Apple accounts.</Paragraph>
                      <Paragraph fontSize={24}>iOS and Web users can authenticate with both Apple and Google accounts, while Android users can only authenticate with their Google account.</Paragraph>
                      <Paragraph fontSize={24}>We don't support migrations from a custom email account to an Apple/Google account yet.</Paragraph>
                    </Stack>
                  </Stack>
                </Col>
              </Row>
              <Row largeGutter={true}>
                <Col span={4} largeGutter={true} break="md"> 
                  <video autoplay loop muted playsinline style="max-width: 100%; border-radius: 40px; overflow: hidden;">
                    <source src="/videos/swipe-to-delete.mp4" type="video/mp4" />
                    <p>
                      Your browser doesn't support HTML video. Here is a
                      <a href="/videos/swipe-to-delete.mp4" download="budget-warden-v1.5.1-swipe-to-delete.mp4">link to the video</a> instead.
                    </p>
                  </video>
                </Col>
                <Col span={8} largeGutter={true} break="md"> 
                  <Stack gap="md">
                    <Heading level="h3" size={28}>Swipe to Delete Budgets, Categories and Transactions</Heading>
                    <Stack gap="sm">
                      <Paragraph fontSize={24}>We added support for the familiar swipe to delete gesture to budgets, categories and transactions to make removal of items easier.</Paragraph>
                      <Paragraph fontSize={24}>Deletion will still ask for confirmation to avoid accidental removals.</Paragraph>
                    </Stack>
                  </Stack>
                </Col>
              </Row>
              <Row largeGutter={true}>
                <Col span={4} largeGutter={true} break="md">
                  <video autoplay loop muted playsinline loading="lazy" style="max-width: 100%; border-radius: 40px; overflow: hidden;">
                    <source src="/videos/transactions-view-in-categories.mp4" type="video/mp4" />
                    <p>
                      Your browser doesn't support HTML video. Here is a
                      <a href="/videos/transactions-view-in-categories.mp4" download="budget-warden-v1.5.1-transactions-view-in-categories.mp4">link to the video</a> instead.
                    </p>
                  </video>
                </Col>
                <Col span={8} largeGutter={true} break="md"> 
                  <Stack gap="md">
                    <Heading level="h3" size={28}>View Transactions in Each Category</Heading>
                    <Stack gap="sm">
                      <Paragraph fontSize={24}>You can now view the current budget's transactions for a specific category underneath it's details.</Paragraph>
                      <Paragraph fontSize={24}>You can also utilize the excellent full text search in the transactions view for more specific searches.</Paragraph>
                    </Stack>
                  </Stack>
                </Col>
              </Row>
            </Stack>
          </Stack>
        </Col>
      </Row>
		</Container>
	</Section>
</HeaderFooterLayout>
